html
  head
    title= title
    style 
      include ./style.css
  body
    h1 Simple internet clipboard
    p This is hosted on glitch.me, you can inspect the code your are running for security, and also don't expect to data to be alive for long, as it is not durable persisted. Store, share the link and move on
    form(method='POST' action='/')
      label(for='destroy') Destroy data on first view
      input( type='checkbox' name='destroy' id='destroy' checked )
      br
      label(for='key') Name

      input( value= key name="key" id="key" )
      if random
        p( class='random') Name was randomly generated, adapt to your liking
      br
      label(for='value') Text to store
      br
      textarea( name='value' id='value' rows='10')= value
      br
      button( type='submit') Send
        
      footer Made with <a href="https://glitch.com">Glitch</a>!</footer>


    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>