html
  head
    title= title
    style 
      include ./style.css
  body
    h1 Simple internet clipboard
    form(method='POST' action='/')
      label(for='destroy') Destroy on view
      input( type='checkbox' name='destroy' id='destroy' checked )
      br
      label(for='key') Name

      input( value= key name="key" id="key" )
      if random
        p( class='random') Name was randomly generated, adapt to your liking
      br
      label(for='value') Text to store
      br
      textarea( name='value' id='value' rows='10')= value
      br
      button( type='submit') Send
        
    