html
  head
    style
      include ./style.css
  body
    h1 MyClip: Stored successfuly
    p Data stored in URL:
    a(href= href)= href
    br
    br
    a(href='https://myclip.switch.me') new clip