html
  head
    style
      include ./style.css
    script(src='./result.js')
  body
    h1 Clip stored successfuly
    p Share the following URL to access data:
    div(class='code') 
      a(id='link' href= href)= href
    button(id='copy' class='copy') Copy URL to clipboard
    br
    br
    p You can also curl/wget to get the data
    div(class='code') curl 
       span= href
    br
    br
    a(href=URL class='button new') new clip