body {
  font-family: Arial;
 background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 3rem;
  color: #ddd;
}

input {
  background: #0f2027;
  color: white;
  padding: .5rem;
  border:1px solid #0f4040;
  
}
textarea {
  width: 100%;
  font-family: Consolas, "Courier new";
  background: #0f2027;
  border:1px solid #0f4040;
  color: white;
    
}

p.random {
  color: #aaa;
  font-size: 0.8rem;
}
a {
  color: white;
}