body {
  font-family: Arial;
 background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 3rem;
  color: #ddd;
}

.encrypted {
  text-decoration: italic;
  height: 20px;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}
label {
  color: white;
}

label span {
    padding: .5rem;
    border: 1px solid #0f4040;
    font-family: Consolas, "Courier new";
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 0px;
    background: #0f2027;
    border-right: none;
    color: #bbb;
}

input  {
  background: #0f2027;
  color: white;
  padding: .5rem;
  border:1px solid #0f4040;
  font-family: Consolas, "Courier new";
  font-size: 1rem;
  
}
#_destroy {
  margin: 0px 4px;
}

input#key {
 margin-left: 0px;
  border-left: none;
}
textarea {
  width: 100%;
  font-family: Consolas, "Courier new";
  background: #0f2027;
  border:1px solid #0f4040;
  color: white;
  font-size: 1rem;
    
}

.random {
  color: #aaa;
  font-size: 0.8rem;
}
a {
  color: white;
}
button {
  padding: 0.5rem;
  background: #232526;
  border: 1px solid #0f4040;
  color: #ccc;
  font-weight: bolder;
}

#send {
  background: #ec2563;
  color: white;
}
#_secret {
  display: inline;
}

.code {
  border: 1px solid #0f4040;
  font-family: "Courier new";
  color: white;
  margin: 1rem;
  padding: 1rem;
  background: #2d3944;
}